<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #RestaurantForm="ngForm" (ngSubmit)="onCreateRestaurant(RestaurantForm.value)">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            ngModel
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <input
            type="text"
            class="form-control"
            id="rating"
            required
            ngModel
            name="rating"
          />
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input
            type="text"
            class="form-control"
            id="type"
            required
            ngModel
            name="type"
          />
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!RestaurantForm.valid"
        >
          Add Restaurant
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchRestaurants()">
        Fetch Restaurants
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedRestaurants.length < 1"
        (click)="onClearRestaurants()"
      >
        Clear Restaurants
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedRestaurants.length < 1 && !isFetching">No Restaurants available!</p>
      <ul class="list-group" *ngIf="loadedRestaurants.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let restaurant of loadedRestaurants">
          <h3>{{ restaurant.name }}</h3>
          <p>{{ restaurant.rating }}</p>
          <p>{{ restaurant.type }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>
</div>

